<h1>Calculer votre besoin en apport calorique journalier</h1>

<form (submit)="calculMetabolisme($event, taille, masse, age)">
	<input type="text" placeholder="taille (en cm)" #taille>
	<input type="text" placeholder="masse (en kg)" #masse>
	<input type="text" placeholder="age (en année)" #age>
 	
 	<label for="homme">Homme:</label>
    <input id="homme" type="radio" name="sexe" value="homme" />

    <label for="femme">Femme:</label>
    <input id="femme" type="radio" name="sexe" value="femme" />

	<button (click)='calculMetabolisme($event, taille, masse, age)'>Submit</button>
</form>

<h1>Entrez ce que vous avez mangé aujourd'hui : </h1>

<form (submit)="addFood($event, aliment, poids)">
	<input type="text" placeholder="Nouvel aliment" #aliment>
	<input type="text" placeholder="Poids ( en grammes )" #poids>
	<button (click)='addFood($event, aliment, poids)'>Submit</button>
</form>

<h1>Résultats caloriques : {{calories}} kcal</h1>
<ul>
	<li *ng-for="#food of foodList, #i = index">{{food.name}} : {{food.poids}}grammes = {{food.calories}}kcal <button (click)='deleteFood($event, i, food, poids)'>&#10006</button></li>
</ul>


<h1>Besoin journalier : {{besoin}} kcal</h1>

<h1 *ng-if="(besoin - calories) > 0">Vous avez encore besoin de {{besoin - calories}} kcal aujourd'hui</h1>
<h1 *ng-if="(besoin - calories) < 0">Vous avez mangé un excédant de {{ (besoin - calories) | positif}} kcal aujourd'hui</h1>
